<div class="podcast_info">
	<img class="podcast_image" src="https://gimletmedia.com/wp-content/uploads/2015/11/Surprisingly-Awesome.png">
	<div class="podcast_title">
		Surprisingly Awesome
	</div>
	<div class="podcast_episode">"Circle of Fifths"</div>
</div>

<div id="main">

	<div class="window">

		<div class="info_card" id="1">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bach_-_Taylor_1873.png/250px-Bach_-_Taylor_1873.png">
			<div class="not_picture">
				<div class="info_type">
					Term:
				</div>
				<div class="info_headline">
					Pitch
				</div>
				<div class="info_description">
					Pitch is a perceptual property of sounds that allows their ordering on a frequency-related scale or more commonly, pitch is the quality that makes it possible to judge sounds as "higher" and "lower" in the sense associated with musical melodies. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/Pitch_(music)">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="2">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/C_triad.svg/400px-C_triad.svg.png">
			<div class="not_picture">
				<div class="info_type">
					Term:
				</div>
				<div class="info_headline">
					Chord
				</div>
				<div class="info_description">
					A chord, in music, is any harmonic set of usually three or more notes that is heard as if sounding simultaneously. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/Chord_(music)">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="3">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/IV-V-I_in_C.png/496px-IV-V-I_in_C.png">
			<div class="not_picture">
				<div class="info_type">
					Term:
				</div>
				<div class="info_headline">
					Chord progression
				</div>
				<div class="info_description">
					A chord progression or harmonic progression is a series of musical chords, or chord changes that "aims for a definite goal" of establishing (or contradicting) a tonality founded on a key, root or tonic chord and that is based upon a succession of root relationships. <br><em><a target="_blank" href="https://en.wikipedia.org/wiki/Chord_progression">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="4">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Randy_Jackson_crop.jpg/220px-Randy_Jackson_crop.jpg">
			<div class="not_picture">
				<div class="info_type">
					Bio:
				</div>
				<div class="info_headline">
					Randy Jackson
				</div>
				<div class="info_description">
					Randall Darius "Randy" Jackson (born June 23, 1956) is an American bassist, former television music competition judge, singer, record producer, entrepreneur and television personality. Jackson has won a Grammy Award as a producer. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/Randy_Jackson">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="5">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/American_Idol_logo.png/250px-American_Idol_logo.png">
			<div class="not_picture">
				<div class="info_type">
					Television show:
				</div>
				<div class="info_headline">
					American Idol
				</div>
				<div class="info_description">
					American Idol is an American singing competition television series created by Simon Fuller, produced by 19 Entertainment, and distributed by FremantleMedia North America. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/American_Idol">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="6">
        <img class="info_picture" src="https://cdn.meme.am/instances/500x/48174197.jpg">
        <div class="not_picture">
            <div class="info_type">
                Meme:
            </div>
            <div class="info_headline">
                Pitchy Dawg
            </div>
            <div class="info_description">
                A meme that depicts Randy Jackson's iconic moment on American Idol.
                <br>
                <a target="_blank" href="https://en.m.wikipedia.org/wiki/Propeller">
                    Via Team P.I.T.C.H.Y. D.A.W.G.
                </a>
            </div>
        </div>
    </div>

		<div class="info_card" id="7">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Drum_vibration_mode21.gif/220px-Drum_vibration_mode21.gif">
			<div class="not_picture">
				<div class="info_type">
					Term:
				</div>
				<div class="info_headline">
					Vibration
				</div>
				<div class="info_description">
					Vibration is a mechanical phenomenon whereby oscillations occur about an equilibrium point. The word comes from Latin vibrationem ("shaking, brandishing"). The oscillations may be periodic, such as the motion of a pendulum—or random, such as the movement of a tire on a gravel road. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/Vibration">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

		<div class="info_card" id="8">
			<img class="info_picture" src="https://upload.wikimedia.org/wikipedia/commons/3/35/Ship-propeller.jpg">
			<div class="not_picture">
				<div class="info_type">
					Term:
				</div>
				<div class="info_headline">
					Propeller
				</div>
				<div class="info_description">
					A propeller is a type of fan that transmits power by converting rotational motion into thrust. A pressure difference is produced between the forward and rear surfaces of the airfoil-shaped blade, and a fluid (such as air or water) is accelerated behind the blade. <br><em><a target="_blank" href="https://en.m.wikipedia.org/wiki/Propeller">Via Wikipedia</a></em>
				</div>
			</div>
		</div>

	</div>

	<div id="waveform-loader-animation">
		<div class="loader">Loading...</div>
	</div>

	<div id="footer">

		<div class="button-panel">
		  <button id="back-btn" class="btn">Back</button>
		  <button id="play-btn" class="btn">Play</button>
		  <button id="fwd-btn" class="btn">Forward</button>
			<button id="bookmark-btn" class="btn">Bookmark</button>
		</div>

	  <div id="waveform">
			<div id="current-time"></div>
	  </div>

	</div>

<!-- end id="main" -->
</div>

<script src="javascripts/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
<script src="javascripts/range-switcher.js"></script>
<script src="javascripts/increment-button.js"></script>
<script src="javascripts/controls.js"></script>
<script src="javascripts/index.js"></script>
